tr {
  
  color:purple;
  background: peachpuff;
  text-align: center;
  box-sizing: border-box;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 5px solid indianred;


}
h2{
  border: 3px, solid, purple;
  color:purple;
}