
#store-table-body {
  border: 12px, solid, purple;
}
tr {
  border: 2px, solid, purple;
  color:purple;
  background: peachpuff;
  text-align: center;
  box-sizing: border-box;
}

h2{
  border: 10px, solid, purple;
  color:purple;
}